In [ ]:
import pandas as pd
from datetime import datetime
import numpy as np
print(pd.__version__)

Firstly, the reddit comments data has only the UTC timestamp, which needs to be converted to datetime using the datetime python library. Then we keep only the datetime, comment text body and the comment id columns.

In [3]:
df_comments = pd.read_csv("reddit_bitcoin_20220701_20220702.csv")
df_comments.head()

,Unnamed: 0,author,body,created_utc,id,permalink,subreddit,created,d_
0,0,jftduncan,‚ÄúStill in its infancy‚Äù lol.\n\nBlockchain is f...,1656737907,iejk8cz,/r/news/comments/vpbdnb/major_crypto_broker_vo...,news,1.656756e+09,"{'author': 'jftduncan', 'body': '‚ÄúStill in its..."
1,1,callebbb,Wait wait wait‚Ä¶ do you think Celsius is a‚Ä¶ sma...,1656737856,iejk5k7,/r/CelsiusNetwork/comments/vp5sw9/celsius_pays...,CelsiusNetwork,1.656756e+09,"{'author': 'callebbb', 'body': 'Wait wait wait..."
2,2,Kahoobbb,Lmao üòÇ funny how ignorant you are. Libertarian...,1656737843,iejk4wa,/r/Bitcoin/comments/vp6zag/the_libertarian_par...,Bitcoin,1.656756e+09,"{'author': 'Kahoobbb', 'body': 'Lmao üòÇ funny h..."
3,3,EdMan2133,More useful than Bitcoin at least.,1656737815,iejk3ev,/r/Buttcoin/comments/vpinnw/bitcoin_is_the_wor...,Buttcoin,1.656756e+09,"{'author': 'EdMan2133', 'body': 'More useful t..."
4,4,cristobaldelicia,It's FUD. I dabbled since 2012. I don't know ...,1656737802,iejk2r2,/r/CryptoCurrency/comments/vpgs5z/warning_5_pu...,CryptoCurrency,1.656756e+09,"{'author': 'cristobaldelicia', 'body': 'It\'s ..."

In [4]:
dt_list=[]
for i in df_comments['created_utc']:
    dt_list.append(datetime.fromtimestamp(i))
df_comments['datetime'] = dt_list
df_comments.head()

,Unnamed: 0,author,body,created_utc,id,permalink,subreddit,created,d_,datetime
0,0,jftduncan,‚ÄúStill in its infancy‚Äù lol.\n\nBlockchain is f...,1656737907,iejk8cz,/r/news/comments/vpbdnb/major_crypto_broker_vo...,news,1.656756e+09,"{'author': 'jftduncan', 'body': '‚ÄúStill in its...",2022-07-01 23:58:27
1,1,callebbb,Wait wait wait‚Ä¶ do you think Celsius is a‚Ä¶ sma...,1656737856,iejk5k7,/r/CelsiusNetwork/comments/vp5sw9/celsius_pays...,CelsiusNetwork,1.656756e+09,"{'author': 'callebbb', 'body': 'Wait wait wait...",2022-07-01 23:57:36
2,2,Kahoobbb,Lmao üòÇ funny how ignorant you are. Libertarian...,1656737843,iejk4wa,/r/Bitcoin/comments/vp6zag/the_libertarian_par...,Bitcoin,1.656756e+09,"{'author': 'Kahoobbb', 'body': 'Lmao üòÇ funny h...",2022-07-01 23:57:23
3,3,EdMan2133,More useful than Bitcoin at least.,1656737815,iejk3ev,/r/Buttcoin/comments/vpinnw/bitcoin_is_the_wor...,Buttcoin,1.656756e+09,"{'author': 'EdMan2133', 'body': 'More useful t...",2022-07-01 23:56:55
4,4,cristobaldelicia,It's FUD. I dabbled since 2012. I don't know ...,1656737802,iejk2r2,/r/CryptoCurrency/comments/vpgs5z/warning_5_pu...,CryptoCurrency,1.656756e+09,"{'author': 'cristobaldelicia', 'body': 'It\'s ...",2022-07-01 23:56:42

In [5]:
df_comments = df[['datetime','id','body']]
df_comments.head()

,datetime,id,body
0,2022-07-01 23:58:27,iejk8cz,‚ÄúStill in its infancy‚Äù lol.\n\nBlockchain is f...
1,2022-07-01 23:57:36,iejk5k7,Wait wait wait‚Ä¶ do you think Celsius is a‚Ä¶ sma...
2,2022-07-01 23:57:23,iejk4wa,Lmao üòÇ funny how ignorant you are. Libertarian...
3,2022-07-01 23:56:55,iejk3ev,More useful than Bitcoin at least.
4,2022-07-01 23:56:42,iejk2r2,It's FUD. I dabbled since 2012. I don't know ...

After the sentiment analysis, i got the prediction label of the sentiment. Next thing would be count the three sentiments within a certain time window. I will use the groupby function of pandas to do this.

In [20]:
df_sentiment = pd.read_csv("reddit_BTC_20221030_20221120_datetime_prdicted.csv",encoding="ISO-8859-1")
df_sentiment.head()

,body,datetime,prediction
0,brilliant. and the bitcoin hat is an excellent...,2022-11-19 23:59:47,2.0
1,"#**Hey, Amber Haze here!**\n**The important st...",2022-11-19 23:58:37,2.0
2,I read this as: Weird sketcher landlord for so...,2022-11-19 23:57:58,2.0
3,How many times has Bitcoin been dead though √É¬∞...,2022-11-19 23:57:11,0.0
4,You have to call the CEO of Bitcoin to get it ...,2022-11-19 23:55:13,2.0

In [22]:
df_sentiment.shape

(58116, 3)

In [23]:
df_sentiment=df_sentiment.dropna(subset='datetime')
DateHour = []
for i in range(len(df_sentiment)):
    DateHour.append(datetime.strptime(str(df_sentiment.iloc[i,1]), "%Y-%m-%d %H:%M:%S"))
df_sentiment['DateHour'] = DateHour
df_sentiment.head()

,body,datetime,prediction,DateHour
0,brilliant. and the bitcoin hat is an excellent...,2022-11-19 23:59:47,2.0,2022-11-19 23:59:47
1,"#**Hey, Amber Haze here!**\n**The important st...",2022-11-19 23:58:37,2.0,2022-11-19 23:58:37
2,I read this as: Weird sketcher landlord for so...,2022-11-19 23:57:58,2.0,2022-11-19 23:57:58
3,How many times has Bitcoin been dead though √É¬∞...,2022-11-19 23:57:11,0.0,2022-11-19 23:57:11
4,You have to call the CEO of Bitcoin to get it ...,2022-11-19 23:55:13,2.0,2022-11-19 23:55:13

In [24]:
df_sentiment = df_sentiment[['DateHour','prediction']]
df_sentiment['prediction']=df_sentiment['prediction'].map({2.0:'Positive',1.0:'Neutral',0.0:'Negative'})
df_sentiment = df_sentiment.set_index('DateHour')
df_sentiment.head()

                    prediction
DateHour
2022-11-19 23:59:47   Positive
2022-11-19 23:58:37   Positive
2022-11-19 23:57:58   Positive
2022-11-19 23:57:11   Negative
2022-11-19 23:55:13   Positive

In [5]:
y = pd.get_dummies(df_sentiment.prediction)
y = y.reset_index()
y.head()

             DateHour  Negative  Neutral  Positive
0 2022-11-19 23:59:47         0        0         1
1 2022-11-19 23:58:37         0        0         1
2 2022-11-19 23:57:58         0        0         1
3 2022-11-19 23:57:11         1        0         0
4 2022-11-19 23:55:13         0        0         1

In [6]:
df2h = y.groupby(y.DateHour.dt.floor('2H')).sum()
df2h.head()

                     Negative  Neutral  Positive
DateHour
2022-10-30 00:00:00      14.0      6.0      85.0
2022-10-30 02:00:00      11.0      1.0      62.0
2022-10-30 04:00:00      21.0      6.0      71.0
2022-10-30 06:00:00      18.0      6.0      73.0
2022-10-30 08:00:00      24.0     10.0     114.0

In [26]:
df2h.to_csv("Reddit20221030_20221120_4count2H.csv")

Now I have the counts of every sentiments within 2 hours window. Next I will convert the bitcoin histrorical price hourly data in to 2 hour window too.

In [55]:
yf = pd.read_csv(r"/Users/weizhang/Downloads/RedditBTC/yfBTC20210331_20221119.csv")
yf.head()

,Unnamed: 0,index,Open,High,Low,Close,Adj Close,Volume
0,0,2021-03-31 00:00:00,58930.277344,59180.984375,58930.277344,59152.800781,59152.800781,0
1,1,2021-03-31 01:00:00,59170.917969,59204.199219,59098.296875,59163.738281,59163.738281,0
2,2,2021-03-31 02:00:00,59157.140625,59157.140625,58978.117188,58978.117188,58978.117188,0
3,3,2021-03-31 03:00:00,58973.238281,58973.238281,58662.867188,58734.984375,58734.984375,573456384
4,4,2021-03-31 04:00:00,58747.414062,58980.550781,58741.777344,58964.656250,58964.656250,0

In [56]:
DateHour = []
for i in range(len(yf)):
    DateHour.append(datetime.strptime(str(yf.iloc[i,1]), "%Y-%m-%d %H:%M:%S"))
yf['DateHour'] = DateHour
yf.head()

,Unnamed: 0,index,Open,High,Low,Close,Adj Close,Volume,DateHour
0,0,2021-03-31 00:00:00,58930.277344,59180.984375,58930.277344,59152.800781,59152.800781,0,2021-03-31 00:00:00
1,1,2021-03-31 01:00:00,59170.917969,59204.199219,59098.296875,59163.738281,59163.738281,0,2021-03-31 01:00:00
2,2,2021-03-31 02:00:00,59157.140625,59157.140625,58978.117188,58978.117188,58978.117188,0,2021-03-31 02:00:00
3,3,2021-03-31 03:00:00,58973.238281,58973.238281,58662.867188,58734.984375,58734.984375,573456384,2021-03-31 03:00:00
4,4,2021-03-31 04:00:00,58747.414062,58980.550781,58741.777344,58964.656250,58964.656250,0,2021-03-31 04:00:00

In [57]:
yf = yf[["DateHour","Open",	"High",	"Low",	"Close"]]
yf.head()

             DateHour          Open          High           Low         Close
0 2021-03-31 00:00:00  58930.277344  59180.984375  58930.277344  59152.800781
1 2021-03-31 01:00:00  59170.917969  59204.199219  59098.296875  59163.738281
2 2021-03-31 02:00:00  59157.140625  59157.140625  58978.117188  58978.117188
3 2021-03-31 03:00:00  58973.238281  58973.238281  58662.867188  58734.984375
4 2021-03-31 04:00:00  58747.414062  58980.550781  58741.777344  58964.656250

In [53]:
yf2h = yf.groupby(yf.DateHour.dt.floor('2H')).mean()
yf2h.head()

                             Open          High           Low         Close
DateHour
2021-03-31 00:00:00  59050.597656  59192.591797  59014.287109  59158.269531
2021-03-31 02:00:00  59065.189453  59065.189453  58820.492188  58856.550781
2021-03-31 04:00:00  58856.126953  58972.695312  58782.421875  58953.068359
2021-03-31 06:00:00  59416.712891  59919.875000  58612.320312  59206.484375
2021-03-31 08:00:00  58376.453125  58471.818359  57935.234375  58197.494141

In [35]:
yf2h.to_csv("yf2hBTC20210331_20221119.csv")

Merge the two dataframe by dateHour to get the full dataset.